<% provide(:head_title, "Nova estoria") %>

<h1>Nova Estoria</h1>

<%= simple_form_for [:users, @project, @board, @story] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "btn btn-outline-primary" %>
  </div>
<% end %>