<% provide(:head_title, "Adicionar colaboradores") %>

<h1>Adicionar colaboradores ao projeto</h1>

<%= simple_form_for(:users, url: users_project_collaborators_path(@project)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :users, as: :check_boxes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "btn btn-outline-primary" %>
  </div>
<% end %>

